* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "方正韵动粗黑简体";	/* 源码包含字体文件 */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #eaece5;
}

.text {
	font-size: 5em;
	position: relative;
	display: flex;
}
.text .letter {
	position: relative;
}
.text .letter .source {
	color: gray;
}
.text .letter .overlay, .text .letter .shadow {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	user-select: none;
}
.text .letter .overlay {
	background-image: linear-gradient(90deg, white 50%, #eff0eb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: rotateY(-30deg) skew(0, -10deg);
	transform-origin: left;
	animation: overlay 3s infinite ease-out var(--delay);
}
.text .letter .shadow {
	filter: blur(5px);
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 30%, transparent);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: skew(0, 20deg) translateY(0.1em) translateX(0.05em);
	animation: shadow 3s infinite var(--delay);
}

@keyframes shadow {
	0%, 20%, 100% {
		transform: skew(0, 20deg) translateY(0.1em) translateX(0.05em);
		opacity: 1;
	}
	10% {
		transform: skew(0, 0) translateY(0) translateX(0);
		opacity: 0;
	}
}
@keyframes overlay {
	0%, 20%, 100% {
		transform: rotateY(-30deg) skew(0, -10deg);
	}
	10% {
		transform: rotateY(0deg) skew(0, 0);
	}
}
img{
	width: 90%;
	margin-top: 50px;
}